@layer components {
    /* Header section */
    .header {
        @apply w-full px-5 py-[30px] md:p-[30px] top-0 left-0 absolute transition-all duration-300 ease-[cubic-bezier(0.3,0,0.3,1)] z-[90];
    }

    @media screen and (min-width: 1200px) {
        .header.animate-in {
            animation: header_animate_one .6s cubic-bezier(.25, .46, .45, .94) 0s forwards;
        }

        .header.animate-out {
            animation: header_animate_two .3s cubic-bezier(.55, .06, .68, .19) 0s forwards;
        }

        @keyframes header_animate_one {
            0% {
                transform: translateZ(0) translateY(-100px);
            }

            100% {
                transform: translateZ(0) translateY(0px);
            }
        }

        @keyframes header_animate_two {
            0% {
                transform: translateZ(0) translateY(0px);
            }

            100% {
                transform: translateZ(0) translateY(-100px);
            }
        }
    }
}