/* Responsive Styles */
@layer components {
    @media screen and (max-width: 1200px) {
        .header.sticky {
            background: #fff;
        }
    }

    @media screen and (min-width: 1200px) {
        .header.animate-in {
            animation: header_animate_one .8s cubic-bezier(.3, 0, .3, 1) 0s forwards;
        }

        .header.animate-out {
            animation: header_animate_two .8s cubic-bezier(.3, 0, .3, 1) 0s forwards;
        }

        @keyframes header_animate_one {
            0% {
                transform: translateZ(0) translateY(-100px);
            }

            100% {
                transform: translateZ(0) translateY(0px);
            }
        }

        @keyframes header_animate_two {
            0% {
                transform: translateZ(0) translateY(0px);
            }

            100% {
                transform: translateZ(0) translateY(-100px);
            }
        }
    }
}