:root {
    --background: #f0ebe3;
    --foreground: #262626;
}

@theme {
    --color-white: #fff;
    --color-light: #f8f9fa;
    --color-dark: #212529;
    --color-gray: #6c757d;
    --color-gray-dark: #343a40;

    --color-blue: #0d6efd;
    --color-indigo: #6610f2;
    --color-purple: #6f42c1;
    --color-pink: #d63384;
    --color-red: #dc3545;
    --color-orange: #fd7e14;
    --color-yellow: #ffc107;
    --color-green: #198754;
    --color-teal: #20c997;
    --color-cyan: #0dcaf0;

    --color-primary: #198754;
    --color-secondary: #6c757d;
    --color-success: #198754;
    --color-info: #0dcaf0;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-jost);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #222831;
        --foreground: #eaeaea;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Jost, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Jost, sans-serif;
    color: black;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 15px;
}